  <section class="call-to-action text-center">
    <div class="text-all">
      <h2 class="title">Common Ground California</h2>
      <h3 class="subtitle">Working to improve land use for equity and the common wealth.</h3>
      <button class="infos-button" onclick="window.location.href = '/about.html#contact';">Reach out to us</button>
    </div>
  </section>
  <footer>
    <div class="footer-section ">
      <div class="container">
        <div class="social pull-left">
          <p><i class="fa fa-envelope-o"></i>{{ site.email }}</p>
        </div>
        <div class="navigation">
          <ul class="pull-right">
          {% for item in site.data.navigation %}
            <li><a href="{{ item.link }}">{{item.name}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="social pull-left">
          <p>Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}.
        </div>
        <div class="navigation">
          <ul class="pull-right">
              <!--<li><a href="#"> <i class="fa fa-2x fa-facebook"></i></a></li>-->
              <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-2x fa-twitter"></i></a></li>
              <!--<li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>-->
            </ul>
        </div>
      </div>
    </div>
  </footer>
