---
layout: default
title: {{ page.title }}
---
{% if page.articleimage %}
<style type="text/css" media="screen">
.call-to-action{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/parking.jpg) center center/cover no-repeat fixed;

}
</style>
{% endif %}

	<header>
		<section class="call-to-action text-center">
      <div class="text-all">
        <h2 class="title">{{ page.imagetext }}</h2>
        <h3 class="subtitle">{{ page.imagesubtext }}</h3>
      </div>
    </section>
  </header>
  {{ content }}
